<app-header [title]="'Hoja de vida'"></app-header>

<ion-content [fullscreen]="true" class="history">

  <div class="history__content">
    <img src="../../../../../../assets/img/planilla.png" alt="planilla-icon">
  </div>
  <div class="history__fields">
    <div class="history__fields__boxinput">
      <p>Escanear</p>
      <input type="text" placeholder="23324"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Equipo</p>
      <input type="text" placeholder="Taladro"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Marca</p>
      <input type="text" placeholder="Boch"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Referencia</p>
      <input type="text" placeholder="A42C-213"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Serie</p>
      <input type="text" placeholder="1223-232-233"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Fecha de compra</p>
      <input type="text" placeholder="03-08-2018"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Garantía</p>
      <input type="text" placeholder="04-08-2019"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Valor de compra</p>
      <input type="text" placeholder="$ 123.000"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Valor de mantenimiento</p>
      <input type="text" placeholder="$ 12.000"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Valor de reparación</p>
      <input type="text" placeholder="$ 2.000"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Cantidad de servicios</p>
      <input type="text" placeholder="3"/>
    </div>
    <div class="history__fields__boxinput">
      <p>Días en taller</p>
      <input type="text" placeholder="13"/>
    </div>
  </div>

  <button>Enviar Informe</button>

</ion-content>
