<app-header [title]="'Registro de equipos'"></app-header>

<ion-content [fullscreen]="true">
  <app-form-steps
    [listItems]="itemsForm"
    (indexCurrent)="currentForm($event)"
  ></app-form-steps>

  <!-- form 1 -->
  <form [formGroup]="registerForm">
    <div class="ownequipment__register__content" *ngIf="indexCurrentForm === 0">
      <button (click)="scanCodeBar()">
        <img
          class="ownequipment__register__content__barcode"
          src="../../../../../../assets/img/barcode.png"
          alt="barcode-icon"
        />
        {{registerForm.get('codeBar')?.value ?
        registerForm.get('codeBar')?.value : 'Escanear codigo de barras'}}
      </button>
      <div class="ownequipment__register__content__upload">
        <button (click)="capturePhotos()">
          <img
            src="../../../../../../assets/img/Camera.svg"
            alt="camera-icon"
          />
          Tomar foto
        </button>
      </div>
    </div>

    <!-- form 2 -->
    <div class="ownequipment__register__two" *ngIf="indexCurrentForm === 1">
      <div class="ownequipment__register__two__boxinput">
        <p>Equipo</p>
        <ion-select
          okText="Seleccionar"
          cancelText="Cancelar"
          placeholder="Seleccione equipo"
          (ionChange)="changeSelect($event, 'categoryTool')"
          formControlName="categoryTool"
        >
          <ion-select-option
            *ngFor="let ctools of listCategoryTool"
            [value]="ctools?.id"
            >{{ctools?.name}}</ion-select-option
          >
        </ion-select>
      </div>
      <div class="ownequipment__register__two__boxinput">
        <p>Marca</p>
        <ion-select
          okText="Seleccionar"
          cancelText="Cancelar"
          formControlName="brand"
          placeholder="Seleccione marca"
          (ionChange)="changeSelect($event, 'brand')"
        >
          <ion-select-option
            *ngFor="let brands of listBrands"
            [value]="brands?.id"
            >{{brands?.name}}</ion-select-option
          >
        </ion-select>
      </div>
      <div class="ownequipment__register__two__boxinput">
        <p>Referencia</p>
        <input
          type="text"
          placeholder="Digite Referencia"
          formControlName="reference"
        />
      </div>
      <div class="ownequipment__register__two__boxinput">
        <p>Serie</p>
        <input type="text" placeholder="Digite Serie" formControlName="serie" />
      </div>
    </div>

    <div class="ownequipment__register__three" *ngIf="indexCurrentForm === 2">
      <div class="ownequipment__register__three__boxinput">
        <p>Proveedor</p>
        <ion-select
          okText="Seleccionar"
          cancelText="Cancelar"
          placeholder="Seleccione proveedor"
          formControlName="supplier"
          (ionChange)="changeSelect($event, 'supplier')"
        >
          <ion-select-option
            *ngFor="let provider of listProviders"
            [value]="provider?.id"
            >{{provider?.name}}</ion-select-option
          >
        </ion-select>
      </div>
      <div class="ownequipment__register__three__boxinput">
        <p>No. FACT. / REM.</p>
        <input
          type="text"
          placeholder="Digite # Factura - opcional"
          formControlName="invoiceNumber"
        />
      </div>
      <div class="ownequipment__register__three__boxinput">
        <p>VALOR</p>
        <input
          type="text"
          placeholder="Digite Valor - opcional"
          formControlName="invoicePrice"
        />
      </div>
      <div class="ownequipment__register__three__boxinput">
        <p>FECHA</p>
        <input
          type="text"
          placeholder="Seleccione Fecha - opcional"
          formControlName="invoiceDate"
        />
        <img
          src="../../../../../../assets/img/Calendar.svg"
          alt="logo-calendar"
        />
      </div>
      <div class="ownequipment__register__three__boxinput">
        <p>GARANTIA</p>
        <input
          type="text"
          placeholder="En Meses - opcional"
          formControlName="warranty"
        />
      </div>
    </div>

    <button class="ownequipment__register__next" (click)="handleNext()">
      {{labelBtn}}
    </button>
  </form>
</ion-content>
